{% extends 'layout/layout.html' %}
{% block title %} 
    Dashbord
{% endblock %}

{% block content %}

      <!-- Main -->
    <main class="main-container">
        <div class="main-title">
          <h2>DASHBOARD</h2>
        </div>

        <div class="main-cards" id="card">

          <div class="card">
            <div class="card-inner">
              <h3>ARTICLES</h3>
              <span class="material-icons-outlined">inventory_2</span>
            </div>
            <h1 class="text-center">{{ unique }}</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>CHIFFRE D'AFFAIRES</h3>
              <span class="material-icons-outlined">category</span>
            </div>
            <h1 class="text-center">{{ c }}$</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>CLIENTS</h3>
              <span class="material-icons-outlined">groups</span>
            </div>
            <h1 class="text-center">{{ client }}</h1>
          </div>

          <div class="card">
            <div class="card-inner">
              <h3>BENEFICES</h3>
              <span class="material-icons-outlined">category</span>
            </div>
            <h1 class="text-center">{{ b }}$</h1>
          </div>

        </div>

        <div class="charts">

          <div class="charts-card">
            <h2 class="chart-title">Chiffre d'Affaire/Ville</h2>
            <div id="bar-chart"></div>
          </div>

          <div class="charts-card">
            <h2 class="chart-title">PIE CHART</h2>
            <div id="pie-chart"></div>
          </div>

          <div class="charts-card">
            <h2 class="chart-title">Clients/Quantité d'Article Vendus</h2>
            <div id="barh-chart"></div>
          </div>

          <div class="charts-card">
            <h2 class="chart-title">Bénéfice et Chiffre d'affaire des Articles</h2>
            <div id="area-chart"></div>
          </div>

        </div>
    </main>

    
{% endblock %}

{% block popup %}


{% endblock %}
{% block javas %}
  <script>
    document.getElementById("card").addEventListener("click", function() {
      document.getElementById("tout").style.display = "block";
    });
    document.getElementById("fermer-popup").addEventListener("click", function() {
      document.getElementById("tout").style.display = "none";
    });
  </script>

{% endblock %}